






{% extends 'base.html' %}

{% block head %}
<title>UCD Gym Booker</title>
{% endblock %}

{% block body %}

<h1>Welcome!</h1>
<p>Are you tired of having to wake up at 6:00 to book your 9:00 gym slot?
<br>Do yo want to be able to
have you ever forgotten to book a slot due to the arbitrary 3 hours in advance slot
    If so you came to the right place
    were not ready at the exact time
</p>

<h3>How does it work?</h3>
<p>You register
<br>
Important note: the reservations are handled sequentially, this means that for very </p>
in order of earlyness, this means that it's best if you book your reservations asap escpecially for more popular timeslots
<h3>Where to find the code</h3>
<p>
    solve issues
    find code
    install own website
    github
</p>

{% endblock %}

